<%= render :partial => "js" %>

<div class="page_header">
	<div class="page_header_links">
	</div>
	<h1>MileStones</h1>
</div>
<div class="innercol">
	<%= render :partial => "milestones" %>
</div>

<% content_for :side do  %>
	<div class="button_to_add_new">
		<a class="image" href="milestones/new">
			<img src="http://asset2.projectpath.com/images/add_a_new_milestone.gif?1245405582" alt="Add a new milestone"/>
		</a>
	</div>
	<div id="sidebar">
 		<div id="milestones_sidebar_calendar">
			
		</div>
	</div>	
<% end -%>