<div id="<%= dom_id(comment) %>" class="comment"> 
	<div class="float_liner">
		<img class="avatar" width="48" height="48" src="/images/person_avatar.gif" alt="Person_avatar"/>
		<div class="indented">
			<div class="comment_header">
				<h3 class="highlight">
					<span class="delete">
					</span>
					<a class="permalink" name="38892721" href="#comment_38892721">
						<strong><%= comment.creator.login %></strong>
						<%= time_ago_in_words comment.created_at %>
					</a>
				</h3>
			</div>
			<div class="formatted_text_body">
				<%= comment.body %>
			</div>
		</div>
	</div>
</div>
