<div class="comments">
	<%= render :partial => 'comments/comment', :collection => commentable.comments %>    
	<div id="comment_form" class="comment" style="border-bottom: 0pt none;">
		<div class="float_liner">                                             
		  <% form_for :comment,
		              :url => comments_path(ActiveSupport::Inflector.underscore(commentable.class), commentable.id),
		              :html => {:id => "comment_form"} do |c| %>
				<img class="avatar" width="48" height="48" src="http://asset0.projectpath.com/images/person_avatar.gif?1245383866" alt="Person_avatar"/>
				<div class="indented">
					<div class="comment_header">
						<h3>
							<strong>Leave a comment…</strong>
						</h3>
				</div>
				<p id="edit_body">   
					<textarea style="height: 150px; width: 807px;" rows="20" name="comment[body]" cols="40"></textarea>
				</p>
				<p class="submit">                                         
					<span id="buttons">
						<input type="submit" value="Add this Comment" name="commit"/>
					</span>
				</p>	
		  <% end -%>
		</div>
	</div>
</div>