<div class="page_header">
	<div class="page_header_links">
		<span id="normal_list_controls" style="">
		<a id="reorder_lists_link" class="admin" href="#">Reorder lists</a>
		</span>
	</div>
	<h1>To-do lists</h1>
</div>
<div class="innercol">
	<div class="page content">
		<div id="widgets" class="widget_parent lists" style="position: relative;">
			<% @todo_lists.each do |list| %>
				<div id="<%= dom_id(list) %>" class="widget page_widget list_wrapper" style="position: relative;">
					<div class="hover_container widget_content list">
						<div class="list_title">    
							<h2>
								<span id="list_6347262_name" class="hover_target">
									<a href="/projects/3380838/todo_lists/6347262">miao</a>
								</span>
							</h2>
						</div>
						<div class="items_wrapper">  
							<div class="items widget_parent" style="position: relative;">        
								<% list.todos.each do |todo| %>
									<div class="widget list_widget item_wrapper commentable" style="position: relative;">
										<div  class="item widget_content hover_container show">
											<div  class="controls hover_target">
												<input id="item_37472856_checkbox" type="checkbox" />
											</div>
											<div  class="content">                               
												<span id="list_6347262_item_37472856_text" class="content hover_target">
													<span><%= todo.body %></span>
												</span>
											</div>
										</div>
								  </div>	
							  <% end -%>	
							</div>	
						</div>
						<div class="add_item">
							<div class="link_to_add_child" style="">
								<a  class="admin" href="#">Add an item</a>
							</div>
						</div>
						<div id="list_6347262_completed_items" class="done"> </div>
					</div>
				</div>                      
			<% end -%>
		</div>
	</div>
</div>

<% content_for :side do  %>
	<div class="button_to_add_new">
		<a class="image" href="todo_lists/new">
			<img src="http://asset1.projectpath.com/images/new_to-do_list.gif?1245383866" alt="New to-do list"/>
		</a>
	</div>
	<div id="sidebar">
		<div class="indent">
			<form style="margin: 0pt; padding: 0pt;" method="get" action="/projects/3380838/todo_lists">
				<p>
					Show to-dos assigned to:
					<br/>
					<select id="responsible_party" onchange="this.up('form').submit()" name="responsible_party">
					</select>
				</p>
			</form>
		</div>
		<div class="indent">    
			<h2>Current to-do lists</h2>
			<ul id="menu_list">
				<li id="menu_list_6347262">
				</li>
				<li id="menu_list_6347244">
				<a id="menu_list_name_6347244" href="#list_6347244">about test</a>
				</li> 
			</ul>
		</div>	
	</div>	
<% end -%>	