<div class="page_header">
	<div class="page_header_links">
		<%= link_to "Delete this list", todo_list_path(@todo_list), :confirm => "确定删除？", :method => "DELETE", :class => "admin" %>
	</div>
	<h1>                                         
		<a class="back" href="/todo_lists">查看所有 to-do lists</a>
	</h1>	
</div>                                                                         

<div class="innercol">
  <%= render :partial => "todo_list_show", :locals => { :list => @todo_list } %>
</div>	