<div class="page_header">
	<h1> 发邮件邀请新的项目成员加入</h1>
</div>

<div class="innercol">        
	<%= error_messages_for :invitation %>
  <% form_for(@invitation) do |f| %>  
      <table cellspacing="0" border="0">
        <tr>
          <td class="label">电子邮件地址</td>
          <td><%= text_area_tag 'emails',  nil, :class => 'inputtext', :cols => "40", :rows => "5" %></td>
        </tr>  
        <tr>
          <td></td>
          <td><%= submit_tag "发送", :class => 'inputsubmit', :disable_with => "正在发送" %></td>
        </tr> 
				<tr>
					<td></td>
					<td>多个邮箱地址请用逗号分开，如dave@beibeigan.com,liu@beibeigan.com </td>
        </tr>
      </table> 
  <% end %>                   
</div>
