<p id="attachment_31306931">                  
	<%= image_tag "icons/#{Asset.file_icon(asset.data_file_name)}" %>
	<span id="controls_for_31306931">
		<%= asset.data_file_name %>
		<span class="remove">
			<a class="admin" onclick="$(this).parents('p').remove();
			$.ajax({
		    type:'DELETE', url: '<%= asset_path(asset) %>', dataType: 'script'}); return false;" href="#">删除</a>
		</span>
	</span>
</p>