<p>
	<img src="http://asset3.projectpath.com/images/icons/icon_PDF_small.gif?1245728830" alt="Icon_pdf_small"/>
	<%= asset_name %>
	<a class="admin" onclick="PendingAttachments.remove('<%= asset_name %>', 'attachment_fields'); return false;" href="#">删除</a>
</p>