<p>
	<%= image_tag "icons/#{Asset.file_icon(asset_name)}" %>
	<%= asset_name %>
	<a class="admin" onclick="PendingAttachments.remove('<%= asset_name %>', 'attachment_fields'); return false;" href="#">删除</a>
</p>